
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
body {
    margin: 0;
}

.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}
 
.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

i.fas,
i.fab
{
    color: rgba(209, 219, 230, 0.866);

}

.fa-facebook
{
    margin-left: 60rem;
    position: absolute;
    margin-top: 30rem;
}

.fa-github-square
{
    margin-left: 55rem;
    position: absolute;
    margin-top: 30rem;
}

#github
{
    position: absolute;

}

#linkedIn
{

}

#email
{

}

#instagram
{

}

.hero-name
{
    font-size: 2em;
    width: 100%;
    height: 100vh;
    color: rgb(239, 242, 245);
    font-family: 'Share';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parrot
{
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0.05;
    background-size: 100%;
}

.hero-background
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
}

.break
{
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 10em;
    background-color: #472557;
    box-shadow: 10px, 10px, black;
}

.about__me-text
{
    width: 100%;
    height: 3em;
    margin-left: 6rem;
    color: rgb(239, 242, 245);
    font-size: 3em;
    font-family: 'Share';
    text-transform: uppercase;
}

.about__me
{
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: linear-gradient(-141deg, red, green) ;
}

.about__me-section
{
    position: relative;
    height: 30em;
    display: grid;
    grid-template-columns: 60% 40%
}

.about__me-paragraph1
{
    text-align: center;
    margin: 12rem auto auto 8rem;
    height: 50%;
    width: auto;
    color: rgb(239, 242, 245);
    text-transform: uppercase;
    font-family: 'Comfortaa';
    font-size: 15pt;
}

.about__me-paragraph2
{
    text-align: center;
    margin: auto auto auto 8rem;
    height: 50%;
    width: auto;
    color: rgb(239, 242, 245);
    text-transform: uppercase;
    font-family: 'Comfortaa';
    font-size: 15pt;
}

.about__me-paragraph1-format
{
    display: flex;
    flex-direction: column;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    /*border-radius: 50%;*/
    /*box-shadow: 5px 5px 8px #1d8a99;*/
    opacity: 0.95;
}

.about__me-image
{
    margin-left: 4rem;
    margin-top: 3.5rem;
    height: 12em;
    width: auto;
    box-shadow: 5px 5px 8px #342e37;
}

.projects-text
{
    width: 100%;
    height: 3em;
    margin: 3rem 6rem;
    color: rgb(239, 242, 245);
    font-size: 3em;
    font-family: 'Share';
    text-transform: uppercase;
}

.box1
{
    width: 20em;
    height: 8em;
    background: rgb(135, 81, 139);
    box-shadow: -5px 5px 8px #342e37;
}

.box1-pos1
{
    margin-top: 3em;
    position: absolute;
    z-index: 1;
}

.box1-pos2
{
    width: 100%;
    height: 1em;
    margin-top: 10rem;
    margin-left: 0%;
    z-index: -1;
    box-shadow: 5px 5px 8px #342e37;
    overflow: hidden;
}

.box1-pos3
{
    margin-top: 4rem;
    width: 18rem;
    height: 1em;
    z-index: -1;
    box-shadow: -5px 5px 8px #342e37;
}

.box1-pos4
{
    margin: 20rem 3rem;
    width: 20rem;
    height: 1em;
    z-index: -1;
    box-shadow: -5px 5px 8px #342e37;
}